body{
    background-image: url('img/img.final.jpg');
    background-size: contain;
    background-size: cover;
    height:400px;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: cover;
    font-family: 'Libre Baskerville', serif;
}

header .menu{
    margin:30px 0;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header .menu a:hover{
    text-decoration: solid;
    color:rgb(66, 129, 218);
}

header .menu a{
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    margin:0 60px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.abajo{
    text-align: center;
}
.arriba{
    text-align: center;
}

.arriba .h3{
    font-size: 35px;
    font-weight: 100;
    margin:0 60px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.arriba .h2{
    font-size: 100px;
    font-weight: 100;
    margin:0 60px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}


.arriba .h1{
    font-size: 100px;
    font-weight: 100;
    margin:0 60px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.abajo .h4{
    color:rgb(255, 255, 255);
    font-size: 25px;

}

.btn {
    display: inline-block;
    width: 50px;
    border-radius: 70%;    
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    background-color: rgb(18, 115, 243);
    line-height: 2.000em;
    width: 75px;
    border-radius: 10px;
}