body{
    background-image: url('img/fondo.jpg');
    background-size: contain;
    background-size: cover;
    height:400px;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: cover;
    font-family: 'Libre Baskerville', serif;
}

header .contenido .h1{
    font-size: 80px;
    margin-left: 900px;
    margin-right: 250px;
    text-align: center;
    color: rgb(255, 255, 255);
}

header .contenido .h2{
    font-size: 30px;
    text-align: right;
    color: rgb(255, 255, 255);
    margin-right: 400px;
   
  
}

header .contenido .h3{
    font-size: 30px;
    text-align: right;
    margin-top: 130px;
    color: rgb(255, 255, 255);
    margin-right: 387px;
   
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

header .menu{
    margin:30px 0;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

header .menu a:hover{
    text-decoration: solid;
    color:rgb(66, 129, 218);
}

header .menu a{
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    margin:0 60px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
