<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='informacion.css') }}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
    </style>
    <title> Información </title>
</head>
<body>
	<header>
        <div class= "contenedor">
            <nav class="menu">
                <a href="/informacion"><strong>INFORMACIÓN</strong></a>
                <a href="/juego"><strong>JUEGO</strong></a>
                <a href="/inicio"><strong>INICIO</strong></a>
            </nav>
        </div>  
	</header>
    <div class="caja">
    <h1 class = "h1"> Para entender el por qué del contenido del juego nos preguntamos</h1>
    </div>
    <div class="cont">
    
        <div class="Agenda">
            <img src="/static/img/agenda.jpg" alt="Imagen" height="300" width="600" >
        </div>
            <div class = "texto2">
                
                <h2 class="h2"> <strong> ¿Qué es la Agenda 2030? </strong> </h2>
                <h3 class="h3"> La Agenda 2030 es es el resultado del proceso de consultas más amplio y participativo de la historia de las Naciones Unidas y representa el consenso emergente multilateral entre gobiernos y actores diversos, como la sociedad civil, el sector privado y la academia.</h3>
                <h3 class="h3"> Es una agenda civilizatoria, que pone la dignidad y la igualdad de las personas en el centro y llama a cambiar nuestro estilo de desarrollo. Es un compromiso universal adquirido tanto por países desarrollados como en desarrollo, en el marco de una alianza mundial reforzada, que toma en cuenta los medios de implementación para realizar el cambio y la prevención de desastres por eventos naturales extremos, así como la mitigación y adaptación al cambio climático.</h3>
               
            </div>
             <h2 class="h2"> <strong> ¿Qué son los ODS? </strong></h2>
            <h3 class="h3">  Son 17 objetivos globales interconectados diseñados para ser un «plan para lograr un futuro mejor y más sostenible para todos».​ Los ODS fueron establecidos en 2015 por la Asamblea General de las Naciones Unidas y se pretende alcanzarlos para 2030. </h3>    
            <br>
            <h2 class="h2"> <strong> Nuestro objetivo: "Acción por el clima" </strong></h2>
            <div class="Protesta">
                    <img src="/static/img/protesta.jpg" alt="Imagen" height="300" width="500" >
            </div>
            <div  class="texto">
                <h3 class="h3">El cambio climático está afectando a todos los países de todos los continentes. Está alterando las economías nacionales y afectando a distintas vidas. Los sistemas meteorológicos están cambiando, los niveles del mar están subiendo y los fenómenos meteorológicos son cada vez más extremos. </h3>
                <h3 class="h3"> A pesar de que se estima que las emisiones de gases de efecto invernadero caigan alrededor de un 6 % en 2020 debido a las restricciones de movimiento y las recesiones económicas derivadas de la pandemia de la COVID-19, esta mejora es solo temporal. El cambio climático no se va a pausar. Una vez que la economía mundial comience a recuperarse de la pandemia, se espera que las emisiones vuelvan a niveles mayores. </h3>
                <h3 class="h3"> Es necesario tomar medidas urgentes para abordar tanto la pandemia como la emergencia climática con el fin de salvar vidas y medios de subsistencia.</h3>
            </div>
        
        
        
    </div>
</body>
</html>