<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='proyecto.css') }}">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
    </style>
    <title> Inicio </title>
</head>
<body>
    <header>
        <div class= "contenedor">
            <nav class="menu">
                <a href="/informacion"><strong>INFORMACIÓN</strong></a>
                <a href="/juego"><strong>JUEGO</strong></a>
                <a href="/"><strong>INICIO</strong></a>
            </nav>
        </div>    
        
        <div class="contenido">
            <h3 class="h3"> GRUPO 15</h3>
            <h1 class="h1">WEATHER <br>
                 DONUT</h1>
            <h2 class="h2"> 5ºA INFO </h2>
        </div>
    </header>
</body>
</html>
